.form{
    
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 40px;
    &__input{
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: #a3a1a1;
        select,
        input{
            outline: none;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 7px;
        }
    }
    button{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
}